<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    
        <div>

            <h3 style="text-align: center">Ganador: <%=@showable_players[0].name%></h3>

            <h4 style="text-align: center">Puntajes finales</h4>

            <div style="width: 50%; margin: 0 auto">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Posicion</th>
                            <th scope="col">Jugador</th>
                            <th scope="col">Puntaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @showable_players.each_with_index do |player, index| %>
                            <tr>
                                <th scope="row"><%=index+1%>.</th>
                                <td><%=player.name%></td>
                                <td><%=player.score%></td>                            
                            </tr>
                        <% end %>                
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>
