<form method = "post" action="/game">
    <select name="sizes" id = "sizes">
        <option value="3">3x3</option>
        <option value="4">4x4</option>
        <option value="5" selected>5x5</option>
        <option value="6">6x6</option>
        <option value="7">7x7</option>
        <option value="8">8x8</option>
    </select>
    <% for index in 1..@number_of_players.to_i %>
        <input type="text" name="player<%=index%>" id ="player<%=index%>%>">
    <% end %>
    <input type="submit" name="Jugar" id="Jugar" value="Jugar">
</form>

<form method = "post" action="/numberOfPlayers">
    <select name="players" id = "players">
        <option value="2" selected>2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <input type="submit" name="playersSize" id="playersSize" value="Cambiar cantidad de jugadores">
</form>