<!DOCTYPE html>
<html>
    <head>
        <link rel=”stylesheet” href=”styles.css” type=”text/css” />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="col-md-12" style="margin: 0 auto;">
            <h1>Dots and boxes</h1>
            <h3>Menu principal</h3>

            <form method = "post" action="/numberOfPlayers">
                <div class="col-md-12" style="margin: 0 auto;">
                    <div class="form-group">
                        <label>Cantidad de jugadores:</label>
                        <select name="players" id = "players">
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-secondary" name="playersSize" id="playersSize" value="Cambiar cantidad de jugadores">
                    </div>
                </div>
            </form>

            <form method = "post" action="/game">
                <div class="col-md-12" style="margin: 0 auto;">
                    <div class="form-group">
                        <label>Tamaño:</label>
                        <select name="sizes" id = "sizes">
                            <option value="3">3x3</option>
                            <option value="4">4x4</option>
                            <option value="5" selected>5x5</option>
                            <option value="6">6x6</option>
                            <option value="7">7x7</option>
                            <option value="8">8x8</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nombres:</label>
                        <% for index in 1..@number_of_players.to_i %>
                            <input type="text" name="player<%=index%>" id ="player<%=index%>">
                        <% end %>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" name="Jugar" id="Jugar" value="Jugar">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
